html, body {
    height: 100%;
}

.fill { 
    min-height: 100%;
}
.input-search	{
	width:85%;
}
.main_categories:link, .main_categories:visited {
	font-size: 140%;
	font-weight: 400;
	color: #37496D
}
.categories__separator {
	visibility: hidden;
}
ul {
	list-style: none;
}
.products_num {
	color: #8BB204;
	font-size: 120%;
	font-weight: bold;
	margin: 0px 0px 0px 5px;
}
.avg_price {
	font-size: 2.2em;
	margin: 5px 0px 5px 0px;
}
.centered-text {
	text-align:center;
	margin: 0 auto;
	float: none;
}

#logo{
    width:240px;
}

#sidebar-nav-fixed{
    width:240px;
}

.contentwrapper{
	float:left;
}

.mainright{
	margin-left:250px;
	height:100%;
}

.mainabs{
	position:absolute;
}
.product_thumb {
	text-align:center;
}
.product_brief {
	min-height:125px;
}
