#TabbarTop {
    background: none repeat scroll 0 0 white;
}
#TabbarTop td {
    height: 28px;
    padding: 3px 8px;
    vertical-align: middle;
}
#TabbarTop td div {
    padding: 3px 8px;
}
#TabbarTop td div {
    height: 28px;
}
#TabbarTop td {
    padding-bottom: 0;
}
#TabbarTop td a {
    color: black !important;
    font-size: 1em;
    text-decoration: none !important;
}
#TabbarTop td div.active a {
    font-weight: bold;
}
#TabbarTop div.none {
    background: none repeat scroll 0 0 white;
    text-decoration: underline;
}
#ToolbarIn, #TabbarTop td .active {
    background: none repeat scroll 0 0 #DDDDDD;
}
#ToolbarIn td {
    padding: 4px 8px;
}
#ToolbarIn td div {
    padding: 3px 8px;
}
#ToolbarIn td.current div {
    background: none repeat scroll 0 0 white;
}
#ToolbarIn td.current a {
    color: black !important;
    text-decoration: none !important;
}
#ToolbarIn a {
    color: black !important;
    font-size: 1em;
    text-decoration: none !important;
}
a.Button {
    color: black !important;
    font-size: 1em !important;
    margin: 0 !important;
    text-decoration: none !important;
}
#Toolbar {
    background: none repeat scroll 0 0 transparent;
}